@model IEnumerable<WebBanHangMeatDeli.Models.tb_ProductCatagory>
@{
    ViewBag.Title = "Home Page";
}
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        if (item.tb_Product != null && item.tb_Product.Any())
        {
            <section class="u-align-center u-clearfix u-white u-section-3" id="sec-0c7a">
                <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
                    <p class="u-align-left u-custom-font u-font-roboto-condensed u-text u-text-custom-color-1 u-text-default u-text-1">
                        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-font-roboto-condensed u-hover-none u-none u-text-custom-color-1 u-text-hover-grey-90 u-btn-1" href="/san-pham/@item.Name">@item.Name</a>
                    </p>
                    <div class="u-expanded-width u-layout-horizontal u-products u-products-1">
                        <div class="u-repeater u-repeater-1">
                            @foreach (var product in item.tb_Product)
                            {
                                if (product.IsActive)
                                {
                                    <div class="u-align-left u-container-style u-products-item u-repeater-item u-white u-repeater-item-1 @product.Alias">

                                        <div class="u-container-layout u-similar-container u-container-layout-1">
                                            @if (product.PriceSale > 0)
                                            {
                                                <span class="u-custom-font u-font-roboto-condensed" style="float: right; color: #e21d2a; font-weight: 700 ">Sale</span>
                                            }
                                            <!--product_image-->
                                            <a href="/san-pham/@product.Alias-p-@product.Id">
                                                <img alt="" class="u-hover-feature u-image u-image-default u-product-control u-image-1" src="~/Upload/Product/@product.Image" data-image-width="600" data-image-height="600">
                                            </a>
                                            <h4 class="u-custom-font u-font-roboto-condensed u-hover-feature u-product-control u-text u-text-black u-text-default u-text-2">
                                                <a class="u-product-title-link" href="/san-pham/@product.Alias-p-@product.Id">@product.Name</a>
                                            </h4><!--/product_title--><!--product_price-->
                                            <div class="u-product-control u-product-price u-product-price-1">
                                                <div class="u-price-wrapper u-spacing-10">
                                                    <!--product_old_price-->
                                                    @if (product.IsSale)
                                                    {
                                                        <div class="u-price u-text-custom-color-1" style="font-size: 0.8125rem; font-weight: 700;">@WebBanHangMeatDeli.Commons.Common.FormatNumber(@product.PriceSale, 0)<sup>đ</sup></div>
                                                        <div class="u-price " style="font-size: 0.75rem; text-decoration-line:line-through; font-weight: 700;">@WebBanHangMeatDeli.Commons.Common.FormatNumber(@product.Price, 0)<sup>đ</sup></div>

                                                    }
                                                    else
                                                    {
                                                        <div class="u-price u-text-custom-color-1" style="font-size: 0.8125rem; font-weight: 700;">@WebBanHangMeatDeli.Commons.Common.FormatNumber(product.Price, 0)<sup>đ</sup></div>
                                                    }
                                                </div>
                                            </div><!--/product_price--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":"Chọn mua"}--><!--/options_json-->
                                            <a href="#" data-id="@product.Id" class="btnAddCart u-align-center u-border-2 u-border-custom-color-1 u-btn u-btn-round u-button-style u-custom-font u-font-roboto-condensed u-hover-custom-color-1 u-hover-feature u-product-control u-radius-20 u-text-custom-color-1 u-text-hover-white u-white u-btn-2">Chọn mua</a>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                        <a class="u-absolute-vcenter-lg u-absolute-vcenter-md u-absolute-vcenter-xl u-gallery-nav u-gallery-nav-prev u-grey-70 u-hover-grey-10 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">

                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                        <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-hover-grey-10 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div><!--/products-->
                    <a href="/san-pham/@item.Name" class="u-border-2 u-border-custom-color-1 u-btn u-btn-round u-button-style u-hover-custom-color-1 u-radius-20 u-text-custom-color-1 u-text-hover-white u-white u-btn-8">Xem tất cả</a>
                </div>
            </section>
        }

    }
}