@model WebBanHangMeatDeli.Models.tb_Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">CHỈNH SỬA SẢN PHẨM</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.Image)
                        @Html.HiddenFor(x => x.Image1)
                        @Html.HiddenFor(x => x.Image2)
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên sản phẩm</label>
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Tên sản phẩm" })
                                            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Danh mục sản phẩm</label>
                                            @Html.DropDownList("ProductCate_Id", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.ProductCate_Id, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mô tả</label>
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Mô tả" })
                                            @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Chi tiết sản phẩm</label>
                                            @Html.TextAreaFor(x => x.Details, new { @class = "form-control", @id = "txtDetail" })
                                            @Html.ValidationMessageFor(x => x.Details, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Số lượng</label>
                                                    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.Quantity, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá</label>
                                                    <input type="text" name="productPrice" value="@Model.Price" id="productPrice" class="form-control autoNumber" data-a-dec="." data-a-sep=",">
                                                    @Html.HiddenFor(x => x.Price, new { @class = "", @placeholder = "Giá" })
                                                    @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá khuyến mãi</label>
                                                    <input type="text" name="productPriceSale" id="productPriceSale" value="@Model.PriceSale" class="form-control autoNumber" data-a-dec="." data-a-sep=",">
                                                    @Html.HiddenFor(x => x.PriceSale, new { @class = "", @placeholder = "Khuyến mãi" })
                                                    @Html.ValidationMessageFor(x => x.PriceSale, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input", @id = "isActiveCheckbox", @checked = "checked" })
                                                        <label for="isActiveCheckbox" class="custom-control-label">Hiển thị</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.IsSale, new { @class = "custom-control-input", @id = "isSaleCheckbox" })
                                                        <label for="isSaleCheckbox" class="custom-control-label">Khuyến mãi</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="col">Ảnh đại diện</label>
                                                    <img class="col-md-10" style="width:80px;height:80px;margin-bottom:10px" src="~/Upload/Product/@Model.Image" />
                                                    <input type="file" class="form-control-file" id="imageAvt" name="imageAvt">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="col">Hình ảnh 1</label>
                                                    <img class="col-md-10" style="width:80px;height:80px;margin-bottom:10px" src="~/Upload/Product/@Model.Image1" />
                                                    <input type="file" class="form-control-file" id="image1" name="image1">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="col">Hình ảnh 2</label>
                                                    <img class="col-md-10" style="width:80px;height:80px;margin-bottom:10px" src="~/Upload/Product/@Model.Image2" />
                                                    <input type="file" class="form-control-file" id="image2" name="image2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ml-3">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                                <a class="ml-2 btn btn-danger" href="/Admin/Products/Index">Trở lại</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('.autoNumber').autoNumeric('init');
            $('#productPrice').bind('blur focusout keypress keyup', function () {
                var getPrice = $('#productPrice').autoNumeric('get');
                $('#Price').val(getPrice);
                $('#Price').autoNumeric('set', getPrice);
            });
            $('#productPriceSale').bind('blur focusout keypress keyup', function () {
                var getPrice = $('#productPriceSale').autoNumeric('get');
                $('#PriceSale').val(getPrice);
                $('#PriceSale').autoNumeric('set', getPrice);
            });
        })
    </script>
}